doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Petar Šegina
		link(rel="stylesheet" href="style.css" type="text/css")
	body
		#hero
			#hero-content
				h1 Petar
				h1 Šegina
				p Software developer
				i.fa.fa-github
