doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Petar Šegina
		link(rel="stylesheet" href="style.css" type="text/css")
	body
		#hero
			#hero-content
				h1 Petar
				h1 Šegina
				p Software developer
				a.hero-item(href="cv.pdf")
					p
						i.fa.fa-file-text
						span CV (Résumé)
				a.hero-item(href="https://github.com/mrPjer")
					p
						i.fa.fa-github
						span github.com/mrPjer
				a.hero-item(href="https://linkedin.com/in/psegina")
					p
						i.fa.fa-linkedin
						span linkedin.com/in/psegina
				a.hero-item(href="mailto:say-hi@psegina.com")
					p
						i.fa.fa-envelope
						span say-hi@psegina.com
				a.hero-item(href="pubkey.asc")
					p
						i.fa.fa-lock
						span 9A44 A40E C5A8
